# Bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
mini-project/
*.env
*.venv

# Django-specific files
db.sqlite3
*.sqlite3
*.log

# Secret settings (security risk)
.env
config/settings_local.py

# Media and static files (if built automatically)
media/
staticfiles/
static/

# Migrations (optional, you might want to track them)
*/migrations/*.pyc
*/migrations/*.py

# VS Code and JetBrains IDEs
.vscode/
.idea/

# MacOS and Linux system files
.DS_Store
*.swp
